*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 121px;
    width: 100%;
    background-color: #EAAD00;
}
.header .container{
    width: 1150px;
    height: 100%;
    background-color: cadetblue;
}




